<div class="container">
	<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
	<%= pie_chart(@category_data) %>
	<%= line_chart @daily_expense_data %>
	<%= geo_chart({'United States'=>"44", 'Germany'=>"23", 'Brazil'=> "22"}) %>
</div>