<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p>FUCK JAMES</p>

<body>
<div class="container">
<a class="waves-effect waves-light btn"> Fuck Tommy </a>
<div class="card light-blue">
  <div class="card-content white-text">
    <p>Hi Tommy! </p>
  </div>
  <div class="card-tabs">
    <ul class="tabs tabs-fixed-width tabs-transparent">
      <li class="tab"><a href="#test1">Yo</a></li>
      <li class="tab"><a href="#test2">Hello</a></li>
      <li class="tab"><a href="#test3">Baby</a></li>
    </ul>
  </div>
  <div class="card-content blue lighten-5">
    <div id="test1">
      Fuck you
    </div>
    <div id="test2">
      At least I have the decency to make my insults on nice UI
    </div>
    <div id="test3">
      You little slut, ill start making ur shitty app look nice tomorrow.
    </div>
  </div>

</div>
</body>
