@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("green", "base") !default;
@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";